
ul {
    background-color: rgb(41, 124, 233);
    width: 100%;
    height: 60px;
    text-align: end;
}

li {
    margin: 10px;
    display: inline-block;

}

a {
    color: rgb(248, 252, 2) !important;
}

#title {
    float: left;
    color:rgb(252, 2, 210) !important;
}