

body {
    background-color: white;
}

.row {
    margin: 10px auto 10px auto;

}

.voiceBtns {
    margin: 0
}

.word-input {
    color: rgb(1, 181, 252);
    font-size: 18px;
    font-weight: 700;
    width: 300px;
    margin: 8px;
    border-width: 2px;
    border-color: rgb(1, 181, 252);
    line-height: 2;
    border-radius: 4px;
    text-align: center;   
}

#wordEntry {
    width: 100%;
    display: inline-block;
    background-color: rgb(248, 252, 2) !important;
    justify-content: center;
}

#enterWords {
    color: rgb(233, 22, 252);
}

::placeholder {
    color: rgb(248, 252, 2);
    background-color: rgb(1, 181, 252);
    
    text-align: center;
    font-style: italic;
}

input:focus::placeholder {
    color: rgb(1, 181, 252);
    background-color: transparent;
}

.returnedStory {
    color: rgb(1, 181, 252);
    font-size: 24px;
    padding: 30px;
    margin: 40px;
    font-weight: 800;
    border:2px solid rgb(1, 181, 252);
}

.read-btns {
    font-size: 30px;
    color: rgb(1, 181, 252);
    background-color: rgb(248, 252, 2);
    margin: 5px;
    border-radius: 6px;
    border-width: 6px;
}

#new-story-btn {
    color: rgb(233, 22, 252);
    background-color: rgb(1, 181, 252);
    width: 250px;
    border-radius: 15px;
    border-style: double;
}

::placeholder {
    color:rgb(248, 252, 2);
    background-color: rgb(1, 181, 252);
    text-align: center;
    font-style: italic;
}

input:focus::placeholder {
    color: rgb(1, 181, 252);
    background-color: transparent;
  }


.submit-btn {
    color: rgb(233, 22, 252);
    background-color: rgb(1, 181, 252);
    margin: 10px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 4px;
    border-width: 4px;
    width: 140px !important;
}

.inputWord {
    color: white;
    background-color: rgb(100, 100, 98);
    display: inline;
    border-radius: 15px;
    box-shadow: 1.5px 3px black;
}

#voice-select {
      color: rgb(233, 22, 252) !important;
      
      border-color: rgb(1, 181, 252) !important;
      font-weight: 900;
      font-size: 20px;
      margin-top: 4px;
      height: 50px!important;
      border-width: 3px;
      border-color: rgb(1, 181, 252);
      width: 200px;
}

.slider-div {
    font-size: 30px;
    color: rgb(1, 181, 252);
    margin: 5px 20px 5px 10px;
    padding-left: 0px !important;

}

.slider-label {
    margin-left: 10px;
}
.slider {
    -webkit-appearance: none;
    width: 400px;
    height: 4px;
    background: rgb(1, 181, 252);
    outline: none;
    opacity: 0.7;
    margin: 50px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 30px;
    background: rgb(61, 61, 61);
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 1.5px 3px black;
}
