body {
    background-color: white;
}

.inputWords {
    color: white;
    background-color: rgb(100, 100, 98);
    display: inline;
    border-radius: 12px;
    box-shadow: 1.5px 3px black;
}

.returnedStory {
    color: rgb(0, 9, 128);
    font-size: 24px;
    padding: 30px;
    margin: 40px;
    font-weight: 800;
    border:2px solid rgb(0, 9, 128);
}

.read-btns {
    font-size: 30px;
    color: rgb(0, 9, 128);
    background-color: rgb(243, 243, 113);
    margin: 5px;
    border-radius: 6px;
    border-width: 6px;
}

.word-input {
    color: rgb(0, 9, 128);
    font-size: 28px;
    font-weight: 700;
    width: 300px;
    margin: 8px;
    border-width: 5px;
    border-color: rgb(0, 9, 128);
    text-align: center; 
}

::placeholder {
    color: rgb(243, 243, 113);
    background-color: rgb(0, 9, 128);
    text-align: center;
    font-style: italic;
}

input:focus::placeholder {
    color: rgb(0, 9, 128);
    background-color: transparent;
  }

.submit-btn {
    color: rgb(250, 66, 143);
    background-color: rgb(0, 9, 128);
    font-size: 24px;
    font-weight: 700;
    border-radius: 6px;
    border-width: 6px;
}

.form-group {
      margin: 20px;
}

#voice-select {
      color: rgb(0, 9, 128);
      font-weight: 900;
      font-size: 20px;
      border-width: 3px;
      border-color: rgb(0, 9, 128);
}

.slider-div {
    font-size: 30px;
    color: rgb(0, 9, 128);
}

.slider {
    -webkit-appearance: none;
    width: 350px;
    height: 4px;
    background: rgb(0, 9, 128);
    outline: none;
    opacity: 0.7;
    margin: 50px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 30px;
    background: rgb(61, 61, 61);
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 1.5px 3px black;
}
