#partsOfSpeechDiv {
    /* margin-top: 100px;     */   
    text-align: center; 
    color:  rgb(233, 22, 252) !important;

}

#listPartsOfSpeech {
    overflow-y: scroll;
    height: 390px;
    border:solid 1px;
}

.partOfSpeech {
    margin-bottom: 2px;
    background: rgb(1, 181, 252);
    color: rgb(233, 22, 252);
    width: 75%;
    margin: 3px auto;
    text-align: center;
    border-radius: 25px; 
    opacity:0.9;   
}

.partOfSpeech:hover {
    opacity:1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

