.sidebarbtn {
    width: 250px;
    font-size: 24px!important;
    color: rgb(233, 22, 252)!important;
    background-color:  rgb(1, 181, 252)!important;
    border-color: rgb(153, 151, 151)!important;
    border-radius: 6px!important;
    border-width: 4px!important;
    margin: 5px!important;
}

#sideBarDiv {
    text-align: center; 
    width: 250px;
}