.sidebarbtn {
    width: 250px;
    font-size: 24px!important;
    color: rgb(250, 66, 143)!important;
    background-color: rgb(0, 9, 128)!important;
    border-color: rgb(153, 151, 151)!important;
    border-radius: 6px!important;
    border-width: 4px!important;
    margin: 20px!important;
}

#sideBarDiv {
    text-align: center; 
}