#heroImg {
  width: 350px !important;
  margin: 10px 0px 10px -8px !important;
  z-index: 0;
}

#titleImg {
  margin: 10px !important;
}


.row {
  justify-content: center;
}

.container{
  height: 100%;
  padding-bottom: 100px;
  margin: 10px auto 30px auto !important; 

}

.col-md-5, .col-md-3 {
  justify-content: center;
  
}

