#heroImg {
  width: 350px !important;
  margin: 5px 0px 10px -8px !important;
  z-index: 0;
}

#titleImg {
  margin: 10px !important;
  width: 80%;
}


.row {
  justify-content: center;
  
}

#homeHero {
  margin-left: 49px;
  z-index: 0;
}

.container{
  height: 100%;
  
  margin: 10px auto 30px auto !important; 

}

.col-md-5, .col-md-3 {
  justify-content: center;

}

