footer {
    background:  rgb(1, 181, 252);
    color:   rgb(233, 22, 252);
    display: flex !important;
    position: fixed;
    bottom: 0;
    margin: 1em 0 0 0 !important;
    padding: 1em;
    width: 100%;
    justify-content: center !important;
    z-index: 999;
  }
