footer {
    /* background:  rgb(0, 9, 128);
    color:   rgb(250, 66, 143);
    position: fixed;
    bottom: 0;
    margin: 1em 0 1em 0 !important;
    padding: 1em;
    min-width: 100%;
    text-align: center; */

    background:  rgb(0, 9, 128);
    color:   rgb(250, 66, 143);
    flex: 0 0 auto !important;
    display: flex !important;
    position: fixed;
    bottom: 0;
    margin: 1em 0 0 0 !important;
    padding: 1em;
    width: 100%;
    clear: both ;
    justify-content: center !important;
    
  }
