.form-group {
    margin: 0 0 0px !important;
}

.noentry {
    color:  rgb(1, 181, 252);
}
label {
    color:  rgb(233, 22, 252);
}

#templatePage{
    margin-left: -180px !important;
    
}

.form-control {
    border-width: 3px !important;
    border-color:  rgb(1, 181, 252)!important;
    height: 40px!important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color:  rgb(1, 181, 252)!important;
}

#templateEntry {
    min-height: 160px;
    color:  rgb(1, 181, 252);
    font-size: 20px;
    font-weight: 500;
    resize: none;
}

label {
    font-size: 24px;
    font-weight: 500;
}

#btnSave {
    font-size: 30px;
    font-weight: 700;
    color:  rgb(1, 181, 252);
    background-color: rgb(243, 243, 113);
    margin-top: 30px;
    border-radius: 10px;
    border-width: 6px;
    border-color: lightgrey;
}

#listPartsOfSpeech {
    border-width: 3px !important;
    border-color:  rgb(1, 181, 252)!important;
}

.partOfSpeech {
    color: rgb(243, 243, 113);
    background-color:  rgb(1, 181, 252);
    font-weight: 700; 
}