img {
    margin: 10px auto 10px auto !important;  
  }

#newStoriesDiv {
  margin-bottom: 200px;
}


.newStoriesBtn{
    background: linear-gradient(cyan, blue);
    color:  rgb(250, 66, 143) !important;
    position: relative;
    display: inline-block;
    width: 150px;
    padding: 0 !important;
    border: 1px solid lightgrey !important;
    box-shadow: 5px 10px 8px lightgray;
    border-radius: 10px !important; 
    z-index: 999;
  }

  .btnImage {
    width: 150px;
    position: relative;
    display: inline-block;
    align-items: center;
    margin: 0 !important;
    border-radius: 10px;
  }

  .btnText{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10px; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 150px;
   
  
  }